
#content-container{
  grid-row: 3 / span 2;
  grid-column: 2 / span 2;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  margin: 0 15px;
  border-radius: 15px;
  z-index: 1;
}

#content-container *{
  max-width: 100%;
}

.header-detail{
  padding: 0 15px;
  grid-row-start: 2;
  grid-column: 2 / span 2;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
}

#header-detail-buttons, #Nav-detail-buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
}

#Nav-detail-buttons{
  margin: 15px 0;
}

#header-detail-buttons * , #Nav-detail-buttons *{
  all: unset;
  transition: all 0.2s ease-in-out;
  margin-left: 15px;
  text-transform: uppercase;
}

#header-detail-buttons .project-button-redirection,
#Nav-detail-buttons .project-button-redirection{
  position: relative;
}

#header-detail-buttons .project-button-redirection::before,
#header-detail-buttons .project-button-redirection::after,
#Nav-detail-buttons .project-button-redirection::before,
#Nav-detail-buttons .project-button-redirection::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-bottom: 1px solid ;
    transition: all 0.3s ease-in-out;
}

#header-detail-buttons .project-button-redirection::after,
#Nav-detail-buttons .project-button-redirection::after{
  transform: rotate(180deg);
}


#header-detail-buttons .project-button-redirection:hover::before,
#header-detail-buttons .project-button-redirection:hover::after,
#Nav-detail-buttons .project-button-redirection:hover::before,
#Nav-detail-buttons .project-button-redirection:hover::after{
  width: 100%;
}

.gallery {
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  display: block;
  height: 100%;
}

.carousel{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 30vw;
  grid-row-gap: 15px;
}

.images-lines {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  height: 100%;
  overflow: hidden;
  grid-column-gap: 15px;
  justify-content: center;
  align-content: center;
}

.images-lines figure {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.images-lines img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.images-lines:nth-child(odd){
  grid-column: span 2;
  border-radius: 15px;
}

.images-lines:nth-child(odd) figure{
  grid-column: span 2;
}

.images-lines:nth-child(even) figure{
  grid-column: span 1;
  border-radius: 15px;
}

.info{
  top: 0;
  left: 0;
  right: 0;
  position: relative;
  width: 100%;
  height: 0;
  opacity: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  overflow: hidden;
  grid-gap: 25px;
}

.info .description{
  grid-column: span 2;
  grid-row-start: 1;
  text-align: justify;
}

.info h2{
  grid-column: span 1;
  grid-row-start: 2;
}

.info .service-description, .info .service-stack{
  grid-column: span 1;
  grid-row-start: 3;
  text-align: justify
}

.info-active .gallery, .no-image .gallery{
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.info-active .info, .no-image .info{
  height: 100%;
  opacity: 1;
}

#content-container.info-active {
  border-radius: 0;
}

/* #info-button.no-image{
  display: none;
} */

#threeObject {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#threeObject canvas{
  position: relative;
  z-index: 1;
}


#bannerThree {
  display: none;
  width: 100%;
  height: 450px;
  overflow: hidden;
  border-radius: 15px;
}

#inProgress{
  display: none;
  
  pointer-events: none;
}

#inProgress.active{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  z-index: 99;
}

#inProgress h2{
  opacity: 0.5;
  filter: blur(0.5);
  font-size: 7vw;
  transform: rotate(20deg);
}